<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Lista Bebidas</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
      
      </div>
    </div>
    
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
  
    <button class="button button-full button-balanced" ng-click="getListaBebidas()">
      Obtener Lista de Bebidas
    </button>

    <button class="button button-full button-positive" ng-click="getListaPlatos()">
      Obtener Lista de Platos
    </button>

    <button class="button button-full button-balanced" ng-click="getListaMantenimiento()">
      Obtener Lista de servicio de mantenimiento
    </button>

    <button class="button button-full button-positive" ng-click="getListaResepcion()">
      Obtener Lista de servicio de recepción
    </button>

    <button class="button button-full button-balanced" ng-click="getListAmaLlave()">
      Obtener Lista de servicio de ama de llave
    </button>

    <a class="button button-full button-positive" href="#/carritos">
      carrito de compra
    </a>


    <ion-list>
	 	<ion-item class="item-avatar item-icon-right" ng-repeat="item in detalle" href="#/detalle/{{item.idproducto_servicios}}">
	 		<p>{{ item.idproducto_servicios }} {{item.nombres}}</p>
	 	</ion-item>
	 </ion-list>

  </ion-content>
</ion-view>