<ion-view title="Create a new account">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nombre Usuario" ng-model="user.nombreUser">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="nombre" ng-model="user.nombre">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido" ng-model="user.apellido">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="correo" ng-model="user.correo">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="telefono" ng-model="user.telefono">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="cedula" ng-model="user.cedula">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Clave" ng-model="user.password">
      </label>      
    </div>
    <button class="button button-full button-positive" ng-click="signup()">
      Sign up
    </button>
  </ion-content>
</ion-view>